/*!
* OpenCharity - v1.0.0 2016-10-12. 
* @author Danilo Morais
*/
@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  src: url('../fonts/museosans-500') format('otf');
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.navbar-default {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-join-us {
  width: 108px;
  height: 40px;
  font-family: "Museo Sans";
  border-radius: inherit;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.jumbotron-background {
  min-height: 470px;
  background-image: url("../img/background.png");
  background-size: cover;
}

.jumbotron {
  margin-bottom: 0;
}

.sharing-ideas-box {
  font-family: "Museo Sans", sans-serif;
  color: #ffffff;
  text-align: center;
}

.sharing-ideas-box h1 {
  font-size: 58px;
}

.sharing-ideas-box p {
  font-size: 20px;
}

.event-box {
  height: 115px;
  padding-top: 29px;
}

.next-event-text {
  padding-left: 0;
  line-height: 1;
  color: #565659;
}

.btn-register {
  float: right;
  width: 105px;
  height: 40px;
  margin-top: -58px;
  border-radius: inherit;
}

.center-text {
  text-align: center;
}

.get-involved-box {
  max-height: 430px;
  background-color: #ffffff;
}

.get-involved-header {
  margin-top: 32px;
  margin-bottom: -6px;
}

.get-involved-box button {
  width: 205px;
  height: 40px;
  font-family: "Museo Sans", sans-serif;
  white-space: normal;
  border-radius: inherit;
}

.get-involved-box img {
  max-width: 50%;
}

.get-involved-box p {
  font-size: 14px;
  color: #5a6176;
}

.our-mission-box {
  min-height: 725px;
}

.our-mission-header {
  margin-top: -15px;
  margin-bottom: 30px;
  font-size: 28px;
}

.our-mission-box p {
  margin-bottom: 26px;
  font-size: 14px;
  color: #5a6176;
}

.our-mission-row {
  padding-top: 20px;
}

.text-box {
  position: absolute;
  margin-top: -128px;
  margin-left: 30px;
}

.text-box h5 {
  font-size: 16px;
  font-weight: bold;
  color: #5bc0c3;
}

.border {
  margin-top: 50px;
  border-bottom: solid 1px #d9dadd;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.header {
  font-size: 28px;
  color: #565659;
}

.cru-logo img {
  width: 140px;
  height: 55px;
}

.comp-logo img {
  width: 150px;
  height: 20px;
}

.kop-logo img {
  width: 105px;
  height: 28px;
}

.zing-logo img {
  width: 85px;
  height: auto;
}

.com-logo img {
  width: 92px;
  height: auto;
}

.blog-header {
  margin-top: -24px;
}

.carousel-control {
  position: absolute;
  top: 27px;
  left: -25px;
  width: 0;
  font-size: 70px;
  color: #fff;
  color: #5bc0c3;
  background-color: #5bc0c3;
  opacity: initial;
}

.carousel-control.right {
  right: 2px;
}

.carousel-indicators {
  top: 126px;
  right: 50%;
  bottom: 0;
  margin-right: -19px;
}

.carousel-indicators li {
  background: #979eb2;
  border: 1px solid #979eb2;
}

.carousel-indicators .active {
  background: #5bc0c3;
  border: 1px solid #5bc0c3;
}

.blog-box {
  height: 312px;
  background-color: #fff;
}

.blog-post a {
  font-size: 16px;
  font-weight: bold;
  color: #5bc0c3;
}

.blog-post p {
  padding-top: 16px;
  margin-bottom: 26px;
  font-size: 14px;
  color: #5a6176;
  border-top: solid 1px #d9dadd;
}

.footer-block {
  height: 175px;
  background-color: #454850;
}

.footer-block h5 {
  font-size: 18px;
  color: #969eb7;
}

.social-media i {
  margin-right: 20px;
  color: #5bc0c3;
}

.border-footer {
  width: 61%;
  margin-top: 28px;
  margin-bottom: 22px;
  margin-left: 363px;
  border-bottom: solid 1px #575b64;
}

.open-charity-logo {
  margin-top: 10px;
}

.text-row {
  margin: 0 -260px;
}

.title-row {
  margin: 25px -260px 7px -260px;
}

.img-row {
  margin: 0 -260px;
}

@media only screen and (max-width: 479px) {
  .carousel-indicators {
    top: 60px;
  }
  .open-charity-logo {
    margin-left: 30px;
  }
  .btn-row-center {
    margin-left: 50px;
  }
  .border-footer {
    width: 100%;
    margin-left: 0;
  }
  #blogCarousel .carousel-inner {
    max-height: 208px;
    text-align: center;
  }
  .title-row {
    margin: 25px -250px 7px -260px;
  }
  .carousel-control {
    left: -15px;
  }
  .carousel-control.right {
    right: 6px;
  }
  .get-involved-box button {
    width: 82px;
    height: 50px;
  }
  .text-row {
    margin: 0 -260px;
  }
  .title-row {
    margin: 25px -260px 7px -260px;
  }
  .img-row {
    margin: 0 -260px;
  }
}