
@body-bg:    #fff;
@text-color: black;
@small-text-color: #5a6176;
@path-fonts:    '../fonts';

@font-face {
    font-family: "Museo Sans";
    src: url('@{path-fonts}/museosans-500') format('otf');
    font-weight: 500;
}

body {
  background-color: @body-bg;
  color: @text-color;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default {
  background-color: @body-bg;
  border-color: @body-bg;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.btn-join-us {
  height: 40px;
  width: 108px;
  border-radius: inherit;
  font-family: "Museo Sans";
}

.vertical-align {
  display: flex;
  align-items: center;
}

.jumbotron-background {
  background-image: url("../img/background.png");
  background-size: cover;
  min-height: 470px;
}

.jumbotron {
  margin-bottom: 0px;
}

.sharing-ideas-box {
  color: @body-bg;
  text-align: center;
  font-family: "Museo Sans", sans-serif;
}

.sharing-ideas-box h1{
  font-size: 58px;
}

.sharing-ideas-box p{
  font-size: 20px;
}

.event-box {
  height: 115px;
  padding-top: 29px;
}

.next-event-text {
  color: #565659;
  line-height: 1;
  padding-left: 0px;
}

.btn-register {
  float: right;
  width: 105px;
  height: 40px;
  margin-top: -58px;
  border-radius: inherit;
}

.center-text {
  text-align: center;
}

.get-involved-box {
  background-color: @body-bg;
  max-height: 430px;
}

.get-involved-header {
  margin-top: 32px;
  margin-bottom: -6px;
}

.get-involved-box button {
  width: 205px;
  height: 40px;
  border-radius: inherit;
  white-space: normal;
  font-family: "Museo Sans", sans-serif;
}
.get-involved-box img {
  max-width: 50%;
}

.get-involved-box p {
  font-size: 14px;
  color: @small-text-color;
}

.our-mission-box {
  min-height: 725px;
}

.our-mission-header {
  margin-top: -15px;
  margin-bottom: 30px;
  font-size: 28px;
}

.our-mission-box p {
  font-size: 14px;
  color: #5a6176;
  margin-bottom: 26px;
}

.our-mission-row {
  padding-top: 20px;
}

.text-box {
  margin-top: -128px;
  position: absolute;
  margin-left: 30px;
}

.text-box h5 {
  color: #5bc0c3;
  font-size: 16px;
  font-weight: bold;
}

.border {
  border-bottom: solid 1px #d9dadd;
  margin-top: 50px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.header {
  font-size: 28px;
  color: #565659;
}

.cru-logo img{
  width: 140px;
  height: 55px;
}

.comp-logo img {
  width: 150px;
  height: 20px;
}

.kop-logo img {
  width: 105px;
  height: 28px;
}

.zing-logo img {
  width: 85px;
  height: auto;
}

.com-logo img {
  width: 92px;
  height: auto;
}

.blog-header {
  margin-top: -24px;
}

.carousel-control {
	left: -25px;
  position: absolute;
  top: 27px;
  width: 0%;
  font-size: 70px;
  color: #fff;
  background-color: #5bc0c3;
  color: #5bc0c3;
  opacity: initial;
}
.carousel-control.right {
	right: 2px;
}

.carousel-indicators {
	right: 50%;
	top: 126px;
	bottom: 0px;
	margin-right: -19px;
}

.carousel-indicators li {
  border: 1px solid #979eb2;
	background: #979eb2;
}

.carousel-indicators .active {
  background: #5bc0c3;
  border: 1px solid #5bc0c3;
}

.blog-box {
  height: 312px;
  background-color: #fff;
}

.blog-post a{
  color: #5bc0c3;
  font-size: 16px;
  font-weight: bold;
}

.blog-post p {
  margin-bottom: 26px;
  font-size: 14px;
  color: #5a6176;
  border-top: solid 1px #d9dadd;
  padding-top: 16px;
}

.footer-block {
  height: 175px;
  background-color: #454850;
}

.footer-block h5 {
  color: #969eb7;
  font-size: 18px;
}

.social-media i{
  margin-right: 20px;
  color: #5bc0c3;
}

.border-footer {
  width: 61%;
  margin-left: 363px;
  margin-top: 28px;
  margin-bottom: 22px;
  border-bottom: solid 1px #575b64;
}

.open-charity-logo {
  margin-top: 10px;
}

.text-row {
  margin: 0 -260px;
}

.title-row {
  margin: 25px -260px 7px -260px
}

.img-row {
  margin: 0px -260px;
}
