@smartphones: ~"only screen and (max-width: 479px)";

@media @smartphones {
  .carousel-indicators {
    top: 60px;
  }

  .open-charity-logo {
    margin-left: 30px;
  }

  .btn-row-center {
    margin-left: 50px;
  }

  .border-footer {
    width: 100%;
    margin-left: 0px;
  }

  #blogCarousel .carousel-inner {
    max-height: 208px;
    text-align: center;
  }

  .title-row {
    margin: 25px -250px 7px -260px;
  }

  .carousel-control {
    left: -15px;
  }

  .carousel-control.right {
    right: 6px;
  }

  .get-involved-box button {
    width: 82px;
    height: 50px;
  }

  .text-row {
    margin: 0 -260px;
  }

  .title-row {
    margin: 25px -260px 7px -260px
  }

  .img-row {
    margin: 0px -260px;
  }
}
